@charset "utf-8";

h1 {
  background: #eaecee;
  box-shadow: 0px 0px 0px 5px #4b1905;
  border: dashed 0.5px #181717;
  padding: 0.2em 0.5em;
  color: #454545;
}

figure {
  float: center;
  width: 150px;
  height: 150px;
  background-color: #eee;
  margin: 80px;
  margin-top: 150px;
  font-size: 17px;
}

form {
  padding: 20px;
  margin: 70px;
  font-size: 30px;

}

.btn {
  color: #fff;
	background-color: #1619d8;
  border: 20px solid #0d0dee; 
  display: inline-block;
  margin: 0 -1px;
  padding: 10px;
  margin-top: 200px;
}
